@use "./reset";
@use "./fonts";
@use "./vars";

:root {
  --container: 85rem;    // 1360px
  --offset: 1.25rem;     // 20px
}

html,
body {
  height: 100%;
  scroll-behavior: smooth;
}

.page {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  color: vars.$color-2;
  font-family: "Golos", Arial, Helvetica, sans-serif;
}

.main {
  flex-grow: 1;
}

.container {
  max-width: var(--container);
  width: 100%;
  margin-inline: auto;
  padding-inline: var(--offset);
}
